# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@v3
      - uses: DeterminateSystems/flake-checker-action@v12
      - run: nix flake check
      - run: nix develop --command -- bb ci
